%nav.navbar.navbar-default
	.container
		.navbar-header
			%button.navbar-toggle.collapsed{data: { toggle: 'collapse', target: '.nav-collapse' }, aria: {expanded: false} }
				%span.sr-only Toggle Nav Bar
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.navbar-brand{href: "#{root_path}"}
				= image_tag 'logo.svg', alt: 'Lostmy.name logo', class: 'logo'
		.collapse.navbar-collapse.nav-collapse
			%ul.nav.navbar-nav
				%li= link_to 'Survey Manager', root_path, class: 'title'
			%ul.nav.navbar-nav.navbar-right
				%li= link_to 'Import CSV', root_path
				%li= link_to 'List All Imported Users', users_path